*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, hsl(216, 100%, 50%), hsl(192, 100%, 50%));
}

.clock{
    width: 300px;
    height: 300px; /*THIS MAKES IT A SQUARE*/
    background-color: rgba(255, 255, 255, .8); /*THIS MAKES CLOCK FACE TRANSPARENT*/
    border-radius: 50%; /*MAKES PERFECT CIRCLE*/
    border: 2px solid black;
}